=begin
#Mux API

#Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.

The version of the OpenAPI document: v1
Contact: devex@mux.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.1

=end

require 'cgi'

module MuxRuby
  class AnnotationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Annotation
    # Creates a new annotation.
    # @param annotation_input [AnnotationInput] 
    # @param [Hash] opts the optional parameters
    # @return [AnnotationResponse]
    def create_annotation(annotation_input, opts = {})
      data, _status_code, _headers = create_annotation_with_http_info(annotation_input, opts)
      data
    end

    # Create Annotation
    # Creates a new annotation.
    # @param annotation_input [AnnotationInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnotationResponse, Integer, Hash)>] AnnotationResponse data, response status code and response headers
    def create_annotation_with_http_info(annotation_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationsApi.create_annotation ...'
      end
      # verify the required parameter 'annotation_input' is set
      if @api_client.config.client_side_validation && annotation_input.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_input' when calling AnnotationsApi.create_annotation"
      end
      # resource path
      local_var_path = '/data/v1/annotations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(annotation_input)

      # return_type
      return_type = opts[:debug_return_type] || 'AnnotationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"AnnotationsApi.create_annotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationsApi#create_annotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Annotation
    # Deletes an annotation.
    # @param annotation_id [String] The annotation ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_annotation(annotation_id, opts = {})
      delete_annotation_with_http_info(annotation_id, opts)
      nil
    end

    # Delete Annotation
    # Deletes an annotation.
    # @param annotation_id [String] The annotation ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_annotation_with_http_info(annotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationsApi.delete_annotation ...'
      end
      # verify the required parameter 'annotation_id' is set
      if @api_client.config.client_side_validation && annotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_id' when calling AnnotationsApi.delete_annotation"
      end
      # resource path
      local_var_path = '/data/v1/annotations/{ANNOTATION_ID}'.sub('{' + 'ANNOTATION_ID' + '}', CGI.escape(annotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"AnnotationsApi.delete_annotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationsApi#delete_annotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Annotation
    # Returns the details of a specific annotation.
    # @param annotation_id [String] The annotation ID
    # @param [Hash] opts the optional parameters
    # @return [AnnotationResponse]
    def get_annotation(annotation_id, opts = {})
      data, _status_code, _headers = get_annotation_with_http_info(annotation_id, opts)
      data
    end

    # Get Annotation
    # Returns the details of a specific annotation.
    # @param annotation_id [String] The annotation ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnotationResponse, Integer, Hash)>] AnnotationResponse data, response status code and response headers
    def get_annotation_with_http_info(annotation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationsApi.get_annotation ...'
      end
      # verify the required parameter 'annotation_id' is set
      if @api_client.config.client_side_validation && annotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_id' when calling AnnotationsApi.get_annotation"
      end
      # resource path
      local_var_path = '/data/v1/annotations/{ANNOTATION_ID}'.sub('{' + 'ANNOTATION_ID' + '}', CGI.escape(annotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AnnotationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"AnnotationsApi.get_annotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationsApi#get_annotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Annotations
    # Returns a list of annotations.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items to include in the response (default to 25)
    # @option opts [Integer] :page Offset by this many pages, of the size of &#x60;limit&#x60; (default to 1)
    # @option opts [String] :order_direction Sort order.
    # @option opts [Array<String>] :timeframe Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]&#x3D;).  Accepted formats are...    * array of epoch timestamps e.g. &#x60;timeframe[]&#x3D;1498867200&amp;timeframe[]&#x3D;1498953600&#x60;   * duration string e.g. &#x60;timeframe[]&#x3D;24:hours or timeframe[]&#x3D;7:days&#x60; 
    # @return [ListAnnotationsResponse]
    def list_annotations(opts = {})
      data, _status_code, _headers = list_annotations_with_http_info(opts)
      data
    end

    # List Annotations
    # Returns a list of annotations.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items to include in the response
    # @option opts [Integer] :page Offset by this many pages, of the size of &#x60;limit&#x60;
    # @option opts [String] :order_direction Sort order.
    # @option opts [Array<String>] :timeframe Timeframe window to limit results by. Must be provided as an array query string parameter (e.g. timeframe[]&#x3D;).  Accepted formats are...    * array of epoch timestamps e.g. &#x60;timeframe[]&#x3D;1498867200&amp;timeframe[]&#x3D;1498953600&#x60;   * duration string e.g. &#x60;timeframe[]&#x3D;24:hours or timeframe[]&#x3D;7:days&#x60; 
    # @return [Array<(ListAnnotationsResponse, Integer, Hash)>] ListAnnotationsResponse data, response status code and response headers
    def list_annotations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationsApi.list_annotations ...'
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order_direction'] && !allowable_values.include?(opts[:'order_direction'])
        fail ArgumentError, "invalid value for \"order_direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/data/v1/annotations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'order_direction'] = opts[:'order_direction'] if !opts[:'order_direction'].nil?
      query_params[:'timeframe[]'] = @api_client.build_collection_param(opts[:'timeframe'], :multi) if !opts[:'timeframe'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAnnotationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"AnnotationsApi.list_annotations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationsApi#list_annotations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Annotation
    # Updates an existing annotation.
    # @param annotation_id [String] The annotation ID
    # @param annotation_input [AnnotationInput] 
    # @param [Hash] opts the optional parameters
    # @return [AnnotationResponse]
    def update_annotation(annotation_id, annotation_input, opts = {})
      data, _status_code, _headers = update_annotation_with_http_info(annotation_id, annotation_input, opts)
      data
    end

    # Update Annotation
    # Updates an existing annotation.
    # @param annotation_id [String] The annotation ID
    # @param annotation_input [AnnotationInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnotationResponse, Integer, Hash)>] AnnotationResponse data, response status code and response headers
    def update_annotation_with_http_info(annotation_id, annotation_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnotationsApi.update_annotation ...'
      end
      # verify the required parameter 'annotation_id' is set
      if @api_client.config.client_side_validation && annotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_id' when calling AnnotationsApi.update_annotation"
      end
      # verify the required parameter 'annotation_input' is set
      if @api_client.config.client_side_validation && annotation_input.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_input' when calling AnnotationsApi.update_annotation"
      end
      # resource path
      local_var_path = '/data/v1/annotations/{ANNOTATION_ID}'.sub('{' + 'ANNOTATION_ID' + '}', CGI.escape(annotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(annotation_input)

      # return_type
      return_type = opts[:debug_return_type] || 'AnnotationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['accessToken']

      new_options = opts.merge(
        :operation => :"AnnotationsApi.update_annotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnotationsApi#update_annotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
