name: Release to RubyGems

on:
  release:
    # `created` does not fire on draft releases. `published` fires
    # when a draft release is published. having both reduces footguns.
    types: [created, published]

jobs:
  build:
    name: Release to RubyGems
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install Ruby 2.6
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.x
      - name: Update system rubygems
        run: gem update --system
      #
      - name: Install Bundler
        run: gem install bundler
      - name: Install Ruby Dependencies
        run: bundle install --jobs 4 --retry 3
      - name: Run Integration Tests
        env:
          MUX_TOKEN_ID: ${{ secrets.MUX_TOKEN_ID }}
          MUX_TOKEN_SECRET: ${{ secrets.MUX_TOKEN_SECRET }}
        run: bash test.sh
      #
      - name: Build Gem
        run: gem build -o mux_ruby.gem mux_ruby.gemspec
      - name: Push Gem to RubyGems
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEM_HOST_API_KEY }}
        run: gem push mux_ruby.gem
